    <!-- Footer
    ================================================== -->
    <footer class="site-footer bg-midnight-express pd-t-75 pd-b-75">
        <div class="container text-center">
            <!-- Scroll Top -->
            <div class="row">
                <div class="col-12">
                    <a href="#top" class="back-to-top dark">
                        <span class="text">Back <br>To Top</span>
                        <i class="fas fa-angle-up"></i>
                    </a>
                </div><!--  /.col-12 -->
            </div><!--  /.row -->

            <!-- Social Link -->
            <div class="row">
                <div class="col-12">
                    <ul class="footer-social dark mrt-30 mrb-30">
                        <li><a href="#" >Facebook</a></li>
                        <li><a href="#" >Twitter</a></li>
                        <li><a href="#" >Pintarest</a></li>
                        <li><a href="#" >Behance</a></li>
                        <li><a href="#" >Dribble</a></li>
                    </ul><!--  /.footer-social -->
                </div><!--  /.col-12 -->
            </div><!--  /.row -->

            <!-- Copy Right -->
            <div class="row">
                <div class="col-12">
                    <p class="copyright-text color-gainsboro">mr.wixXsid <i class="fas fa-heart"></i> 2020. All rights reserved</p>
                </div><!--  /.col-12 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
    </footer><!--  /.site-footer -->