{% load static %}
    <!-- Preloader
    ================================================== --> 
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div><!-- /preloader-icon -->
        </div><!-- /preloader-inner -->
    </div><!-- /preloader -->

    <!-- Header
    ================================================== --> 
    <header class="site-header sticky-header">
        <div class="container-fluid pd-0">
            <div class="row no-gutters">
                <div class="col-lg-7">
                    <div class="header-left-block dark">  
                        <!-- Site Branding -->
                        <div class="site-branding">
                            <a href="index.html"><img src="{% static '/images/logo.png' %}" alt="Site Logo" /></a>
                        </div><!--  /.site-branding -->
                        
                        <!-- Site Navigation -->
                        <div class="site-navigation">
                            <div class="hamburger-menus">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="navigation">
                                <div class="overlaybg"></div><!--  /.overlaybg -->
                                <!-- Main Menu -->
                                <div class="menu-wrapper">
                                    <div class="menu-content">
                                        <ul class="mainmenu">         
                                            <li>
                                                <a href="#service-block">Service</a>
                                            </li>
                                            <li>
                                                <a href="#about-block">About</a>
                                            </li>                                    
                                            <li>
                                                <a href="#portfolio-block">Works</a>
                                            </li>
                                            <li>
                                                <a href="#blog-block">Blog</a>
                                            </li>
                                            <li>
                                                <a href="#contact-block">Contact</a>
                                            </li>
                                        </ul> <!-- /.menu-list -->
                                    </div> <!-- /.hours-content-->
                                </div><!-- /.menu-wrapper --> 
                            </nav>
                        </div><!--  /.site-navigation -->
                    </div><!--  /.header-left-block -->
                </div><!--  /.col-lg-7 -->

                <div class="col-lg-5">
                    <div class="header-right-block bg-midnight-express dark">
                        <div class="mail-block">
                            <a href="mailto:info@pyprogramming.org"><i class="fas fa-envelope"></i><span>info@pyprogramming.org</span></a>
                        </div><!--  /.mail-block -->
                        <div class="call-block">
                            <a href="tel:880 16420167xx"><i class="fas fa-phone"></i><span>880 16420-167xx</span></a>
                        </div><!--  /.call-block -->
                        <div class="social-block">
                            <ul>
                                <li><a href="https://www.facebook.com/wixxsid.py/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/pyprogramming_"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div><!--  /.social-block -->
                    </div><!--  /.header-right-block -->
                </div><!--  /.col-lg-5 -->
            </div><!--  /.row -->
        </div><!--  /.container-fluid -->
    </header><!-- /.site-header -->