{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Hero Block
    ================================================== -->
<section class="hero-block" id="hero-block">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-9">
                <div class="horizontal-border"></div><!--  /.horizontal-border -->
                <h2 class="hero-subheading">Creative Programmer</h2>
                <h2 class="hero-title">Mr.wixXsid</h2><!--  /.hero-title -->
                <ul class="hero-designation">
                    <li>Ethical Hacker</li>
                    <li>Web Developer</li>
                    <li>Programmer</li>
                </ul><!--  /.hero-designation -->
                <a href="https://player.vimeo.com/video/138404180" class="hero-video-btn video-popup">
                    <i class="fas fa-play"></i>
                    <span class="video-title">About Me</span>
                </a>
            </div><!--  /.col-lg-8 -->
        </div><!--  /.row -->
    </div><!--  /.container-fluid -->
    <div class="hg-background">
        <div class="hg-background-image" data-bg-image="{% static 'images/banner/hero-banner-2.jpg' %}"></div>
        <!--  /.hg-background-image -->
    </div><!--  /.hg-background -->
</section><!--  /.hero-block -->

<!-- Service Block
    ================================================== -->
<section class="service-block bg-midnight-express pd-t-105 pd-b-120" id="service-block">
    <div class="container">
        <!-- Title Row -->
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title dark">
                    <h2 class="title-counter">01</h2><!--  /.title-counter -->
                    <h2 class="title-main">Services</h2><!-- /.title-main -->
                    <div class="title-border">
                        <span class="small-border bg-white"></span>
                        <span class="large-border bg-deep-cerise"></span>
                        <span class="small-border bg-white"></span>
                    </div><!--  /.title-border -->
                </div><!--  /.section-title -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="service-carousel owl-carousel" data-owl-items="3" data-owl-margin="30" data-owl-dots="1"
                    data-owl-loop="1" data-owl-center="1" data-animate="hg-fadeInUp">
                    <div class="item">
                        <div class="service-card dark">
                            <div class="service-icon color-deep-cerise">
                                <i class="fab fa-wolf-pack-battalion"></i>
                            </div><!--  /.service-icon -->
                            <h2 class="service-title">Hacker</h2><!--  /.service-title -->
                            <ul class="service-list">
                                <li>Info graphic Design</li>
                                <li>UI/UX Design</li>
                                <li>Branding Design</li>
                            </ul><!--  /.service-list -->
                        </div><!--  /.service-card -->
                    </div><!--  /.item -->

                    <div class="item">
                        <div class="service-card dark">
                            <div class="service-icon color-deep-cerise">
                                <i class="fas fa-bullseye"></i>
                            </div><!--  /.service-icon -->
                            <h2 class="service-title">Developing</h2><!--  /.service-title -->
                            <ul class="service-list">
                                <li>Info graphic Design</li>
                                <li>UI/UX Design</li>
                                <li>Branding Design</li>
                            </ul><!--  /.service-list -->
                        </div><!--  /.service-card -->
                    </div><!--  /.item -->

                    <div class="item">
                        <div class="service-card dark">
                            <div class="service-icon color-deep-cerise">
                                <i class="far fa-paper-plane"></i>
                            </div><!--  /.service-icon -->
                            <h2 class="service-title">Programming</h2><!--  /.service-title -->
                            <ul class="service-list">
                                <li>Info graphic Design</li>
                                <li>UI/UX Design</li>
                                <li>Branding Design</li>
                            </ul><!--  /.service-list -->
                        </div><!--  /.service-card -->
                    </div><!--  /.item -->

                    <div class="item">
                        <div class="service-card dark">
                            <div class="service-icon color-deep-cerise">
                                <i class="fas fa-user-shield"></i>
                            </div><!--  /.service-icon -->
                            <h2 class="service-title">Security</h2><!--  /.service-title -->
                            <ul class="service-list">
                                <li>Info graphic Design</li>
                                <li>UI/UX Design</li>
                                <li>Branding Design</li>
                            </ul><!--  /.service-list -->
                        </div><!--  /.service-card -->
                    </div><!--  /.item -->
                </div><!--  /.owl-carousel -->
            </div><!--  /.col-lg-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.service-block -->

<!-- About Block
    ================================================== -->
<section class="about-block pd-t-105 bg-black-russian-3" id="about-block">
    <div class="container">
        <!-- Title Row -->
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title dark">
                    <h2 class="title-counter">02</h2><!--  /.title-counter -->
                    <h2 class="title-main">About Me</h2><!-- /.title-main -->
                    <div class="title-border">
                        <span class="small-border bg-white"></span>
                        <span class="large-border bg-deep-cerise"></span>
                        <span class="small-border bg-white"></span>
                    </div><!--  /.title-border -->
                </div><!--  /.section-title -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->

        <!-- Content Row -->
        <div class="row justify-content-md-center mrb-75">
            <div class="col-lg-10 pd-l-60 pd-r-60">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="xl-title mrb-30 color-white">About My Business &amp; Skills</h2>
                        <p class="description mrb-75 fts-18 w-500 color-silver">A very small stage in a vast cosmic
                            arena great turbuslent clouds encyclo-paedia galactica star stuff harvesting star light the
                            carbon in our apple pies. Realm of the galaxies, Cambrian explosion Flatland tesseract
                            hundreds of thousands, cosmic ocean. Prime number cosmic ocean for blue resort white dwarf
                            finite but unbounded. A very small stage in a vast cosmic arena great turbulent clouds
                            encyclopaedia galactica</p>
                    </div><!--  /.col-lg-12 -->
                </div><!--  /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="skill-progress dark">
                            <div class="skill-bar" data-percentage="64%">
                                <h4 class="progress-title-holder">
                                    <span class="progress-title">Networking</span>
                                    <span class="progress-wrapper">
                                        <span class="progress-mark">
                                            <span class="percent">64%</span>
                                        </span>
                                    </span>
                                </h4>
                                <div class="progress-outter">
                                    <div class="progress-content"></div>
                                </div>
                            </div><!-- /.skill-bar -->

                            <div class="skill-bar" data-percentage="85%">
                                <h4 class="progress-title-holder">
                                    <span class="progress-title">Bug Bounty</span>
                                    <span class="progress-wrapper">
                                        <span class="progress-mark">
                                            <span class="percent">85%</span>
                                        </span>
                                    </span>
                                </h4>
                                <div class="progress-outter">
                                    <div class="progress-content"></div>
                                </div>
                            </div><!-- /.skill-bar -->
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="skill-progress dark">
                            <div class="skill-bar" data-percentage="88%">
                                <h4 class="progress-title-holder">
                                    <span class="progress-title">Security</span>
                                    <span class="progress-wrapper">
                                        <span class="progress-mark">
                                            <span class="percent">88%</span>
                                        </span>
                                    </span>
                                </h4>
                                <div class="progress-outter">
                                    <div class="progress-content"></div>
                                </div>
                            </div><!-- /.skill-bar -->

                            <div class="skill-bar" data-percentage="90%">
                                <h4 class="progress-title-holder">
                                    <span class="progress-title">Developing</span>
                                    <span class="progress-wrapper">
                                        <span class="progress-mark">
                                            <span class="percent">90%</span>
                                        </span>
                                    </span>
                                </h4>
                                <div class="progress-outter">
                                    <div class="progress-content"></div>
                                </div>
                            </div><!-- /.skill-bar -->
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!--  /.row -->
            </div><!--  /.col-lg-10 -->
        </div><!--  /.row -->

        <!-- Mock Up Content Row -->
        <div class="row justify-content-md-center">
            <div class="col-lg-11">
                <div class="mock-up-block ml-b-135" data-animate="hg-fadeInUp">
                    <img src="{% static 'images/author-mockup-dark.png' %}" alt="Author Mock Up" />
                </div><!--  /.mock-up-block -->
            </div><!--  /.col-lg-10 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.about-block -->

<!-- Fun Fact Block
    ================================================== -->
<section class="fun-facts-block bg-midnight-express pd-t-235 pd-b-120">
    <div class="container hg-promo-numbers">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tg-promo-number text-center">
                    <div class="odometer" data-odometer-final="21">0</div><!--  /.odometer -->
                    <h4 class="promo-title">Happy Client</h4><!--  /.promo-title -->
                </div><!--  /.tg-promo-number -->
            </div><!--  /.col-sm-6 -->
            <div class="col-sm-6 col-lg-3">
                <div class="tg-promo-number text-center">
                    <div class="odometer" data-odometer-final="3">0</div><!--  /.odometer -->
                    <h4 class="promo-title">Years Experience</h4><!--  /.promo-title -->
                </div><!--  /.tg-promo-number -->
            </div><!--  /.col-sm-6 -->
            <div class="col-sm-6 col-lg-3">
                <div class="tg-promo-number text-center">
                    <div class="odometer" data-odometer-final="0">0</div><!--  /.odometer -->
                    <h4 class="promo-title">Award Winer</h4><!--  /.promo-title -->
                </div><!--  /.tg-promo-number -->
            </div><!--  /.col-sm-6 -->
            <div class="col-sm-6 col-lg-3">
                <div class="tg-promo-number text-center">
                    <div class="odometer" data-odometer-final="143">0</div><!--  /.odometer -->
                    <h4 class="promo-title">Project Complete</h4><!--  /.promo-title -->
                </div><!--  /.tg-promo-number -->
            </div><!--  /.col-sm-6 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.fun-facts-block -->

<!-- Our Work Step
    ================================================== -->
<section class="call-to-action pd-t-105 pd-b-120">
    <div class="container">
        <h2 class="call-to-title">Let's Work On Your Next Projects</h2><!--  /.call-to-title -->
        <a href="#contact-block" class="btn btn-call-to mrt-30">Hire Me Know</a>
    </div><!--  /.container -->

    <div class="hg-background hg-overlay dark" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="hg-background-image hg-parallax-element" data-bg-image="{% static 'images/step-bg.png' %}"></div>
        <!--  /.hg-background-image -->
    </div><!--  /.hg-background -->
</section><!--  /.our-work-step -->

    <!-- Portfolio Block
    ================================================== -->
    <section class="portfolio-block bg-midnight-express pd-t-105 pd-b-90" id="portfolio-block">
        <div class="container">
            <!-- Title Row -->
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title dark">
                        <h2 class="title-counter">03</h2><!--  /.title-counter -->
                        <h2 class="title-main">Portfolio</h2><!-- /.title-main -->
                        <div class="title-border">
                            <span class="small-border bg-white"></span>
                            <span class="large-border bg-deep-cerise"></span>
                            <span class="small-border bg-white"></span>
                        </div><!--  /.title-border -->
                    </div><!--  /.section-title -->
                </div><!--  /.col-12 -->
            </div><!--  /.row -->

            <!-- Content Row -->
            <div class="row portfolio-grid">
                    {% for portfolio in portfolio_list %}
                <div class="col-md-6 col-lg-4 app item">
                    <div class="portfolio-item" data-animate="hg-fadeInUp">
                        <figure class="portfolio-thumb">
                            <img src="{{ portfolio.product.url }}" alt="Portfolio Item">
                            <div class="overlay-wrapper">
                                <div class="overlay"></div><!--  /.overlay -->
                                <div class="popup">
                                    <div class="popup-inner">
                                        <a href="{{ portfolio.product.url }}" class="popup-image"><i class="fa fa-search"></i></a>
                                    </div><!--  /.popup-inner -->
                                </div><!--  /.popup -->
                            </div><!--  /.overlay-wrapper -->
                        </figure><!-- /.portfolio-thumb -->
                        <div class="content">
                            <h3><a href="portfolio-single-dark.html">{{ portfolio.title }}</a></h3>
                            {% for cat in categoris %}
                            <div class="cate"><a href="#">{{ cat.title }}</a></div>
                            {% endfor %}
                        </div>                      
                    </div><!--  /.portfolio-item -->
                      
                </div><!-- /.col-lg-4 --> 
                  {% endfor %}              
            </div><!--  /.row -->
        </div><!--  /.container -->
    </section><!--  /.portfolio-block -->

<!-- Testimonial Block
    ================================================== -->
<section class="testimonial-block pd-t-105 pd-b-120">
    <div class="container">
        <!-- Title Row -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title-counter color-dim-gray-im">04</h2><!--  /.title-counter -->
                    <h2 class="title-main color-white-im">Testimonial</h2><!-- /.title-main -->
                    <div class="title-border">
                        <span class="small-border bg-white"></span>
                        <span class="large-border bg-deep-cerise"></span>
                        <span class="small-border bg-white"></span>
                    </div><!--  /.title-border -->
                </div><!--  /.section-title -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->

        <!-- Content Row -->
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="testimonial-carousel owl-carousel" data-owl-items="1" data-owl-dots="1" data-owl-margin="30"
                    data-animate="hg-fadeInUp">
                    <div class="item">
                        <div class="client-testimonial dark">
                            <div class="client-thumb">
                                <img src="{% static 'images/testimonials/client-1.png' %}" alt="Zohan Smith" />
                            </div><!--  /.client-thumb -->
                            <div class="testimonial-details">
                                <div class="client-area">
                                    <div class="client-detail">
                                        <h4 class="client-name">Zohan Smith</h4><!--  /.client-name -->
                                    </div><!--  /.client-detail -->
                                </div><!--  /.client-area -->
                                <div class="details">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when established fact that a reader will be looking at its
                                        layout.</p>
                                </div><!--  /.details -->
                            </div><!--  /.testimonial-details -->
                        </div><!--  /.client-testimonial -->
                    </div><!--  /.item -->

                    <div class="item">
                        <div class="client-testimonial dark">
                            <div class="client-thumb">
                                <img src="{% static 'images/testimonials/client-1.png' %}" alt="Jahid Smith" />
                            </div><!--  /.client-thumb -->
                            <div class="testimonial-details">
                                <div class="client-area">
                                    <div class="client-detail">
                                        <h4 class="client-name">Jahid Smith</h4><!--  /.client-name -->
                                    </div><!--  /.client-detail -->
                                </div><!--  /.client-area -->
                                <div class="details">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when established fact that a reader will be looking at its
                                        layout.</p>
                                </div><!--  /.details -->
                            </div><!--  /.testimonial-details -->
                        </div><!--  /.client-testimonial -->
                    </div><!--  /.item -->

                    <div class="item">
                        <div class="client-testimonial dark">
                            <div class="client-thumb">
                                <img src="{% static 'images/testimonials/client-1.png' %}" alt="Zohan Smith" />
                            </div><!--  /.client-thumb -->
                            <div class="testimonial-details">
                                <div class="client-area">
                                    <div class="client-detail">
                                        <h4 class="client-name">Zohan Smith</h4><!--  /.client-name -->
                                    </div><!--  /.client-detail -->
                                </div><!--  /.client-area -->
                                <div class="details">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when established fact that a reader will be looking at its
                                        layout.</p>
                                </div><!--  /.details -->
                            </div><!--  /.testimonial-details -->
                        </div><!--  /.client-testimonial -->
                    </div><!--  /.item -->
                </div><!--  /.owl-carousel -->
            </div><!--  /.col-md-10 -->
        </div><!--  /.row -->
    </div><!--  /.container -->

    <!-- Background Block -->
    <div class="hg-background hg-overlay dark" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="hg-background-image hg-parallax-element" data-bg-image="{% static 'images/contact-bg.png' %}"></div>
        <!--  /.hg-background-image -->
    </div><!--  /.hg-background -->
</section><!--  /.testimonial-block -->

<!-- Brand Block
    ================================================== -->
<div class="work-for-brand bg-black-russian-3 pd-t-120 pd-b-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="#"><img src="{% static 'images/company/logo-1.png' %}" alt="Company" /></a>
            </div><!--  /.col -->
            <div class="col">
                <a href="#"><img src="{% static 'images/company/logo-2.png' %}" alt="Company" /></a>
            </div><!--  /.col -->
            <div class="col">
                <a href="#"><img src="{% static 'images/company/logo-3.png' %}" alt="Company" /></a>
            </div><!--  /.col -->
            <div class="col">
                <a href="#"><img src="{% static 'images/company/logo-4.png' %}" alt="Company" /></a>
            </div><!--  /.col -->
            <div class="col">
                <a href="#"><img src="{% static 'images/company/logo-5.png' %}" alt="Company" /></a>
            </div><!--  /.col -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</div><!--  /.work-for-brand -->

<!-- Blog Block
    ================================================== -->
<section class="blog-block bg-midnight-express pd-t-105 pd-b-90" id="blog-block">
    <div class="container">
        <!-- Title Row -->
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title dark">
                    <h2 class="title-counter">05</h2><!--  /.title-counter -->
                    <h2 class="title-main"><a href="blog/">News Feed</a></h2><!-- /.title-main -->
                    <div class="title-border">
                        <span class="small-border bg-white"></span>
                        <span class="large-border bg-deep-cerise"></span>
                        <span class="small-border bg-white"></span>
                    </div><!--  /.title-border -->
                </div><!--  /.section-title -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
        <!-- Content Row -->
        <div class="row">
             {% for post in object_list %}
            <div class="col-md-4">
                <div class="post-item dark" data-animate="hg-fadeInUp">
                    <article class="post">
                        <figure class="post-thumb">
                            <div class="entry-date">{{ post.timestamp | timesince }}</div><!--  /.entry-date -->
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.thumbnail.url }}" alt="Post Thumb" />
                            </a>
                        </figure><!--  /.post-thumb -->
                        <div class="post-detail">
                            <h2 class="entry-title"><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h2><!--  /.entry-title -->
                            <div class="entry-cat">
                             {% comment %} {% for post in post.categories.all %} {% endcomment %}
                                 {% comment %} <a href="#">{{ cat.title }}</a> {% endcomment %}
                             {% comment %} {% endfor %} {% endcomment %}
                            </div><!--  /.entry-cat -->
                        </div><!--  /.post-detail -->
                    </article><!--  /.post -->
                </div><!--  /.post-item -->
            </div><!--  /.col-md-4 -->
                {% endfor %}

        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.blog-block -->

<!-- Contact Block
    ================================================== -->
<section class="contact-block pd-t-105 pd-b-120" id="contact-block">
    <div class="container">
        <!-- Title Row -->
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2 class="title-counter color-dim-gray-im">06</h2><!--  /.title-counter -->
                    <h2 class="title-main color-white-im">Get In Touch</h2><!-- /.title-main -->
                    <div class="title-border">
                        <span class="small-border bg-white"></span>
                        <span class="large-border bg-deep-cerise"></span>
                        <span class="small-border bg-white"></span>
                    </div><!--  /.title-border -->
                </div><!--  /.section-title -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->

        <!-- Content Row -->
        <div class="row justify-content-md-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-item">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div><!--  /.icon -->
                            <div class="details">
                                <h3 class="info-title">Mail</h3><!--  /.info-title -->
                                <p class="info-detail">info@pyprogramming.org</p>
                            </div><!--  /.details -->
                        </div><!--  /.contact-item -->

                        <div class="contact-item">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div><!--  /.icon -->
                            <div class="details">
                                <h3 class="info-title">Phone</h3><!--  /.info-title -->
                                <p class="info-detail">+880 16420-167xx</p>
                            </div><!--  /.details -->
                        </div><!--  /.contact-item -->

                        <div class="contact-item">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div><!--  /.icon -->
                            <div class="details">
                                <h3 class="info-title">Address</h3><!--  /.info-title -->
                                <p class="info-detail">Nabinagar - Chandra Hwy,<br> Baroipara, Hijalhati <br> Kaliakair, Gazipur</p>
                            </div><!--  /.details -->
                        </div><!--  /.contact-item -->
                    </div><!--  /.col-md-4 -->

                    <div class="col-md-8">
                        <form method="post" class="contact-form dark-theme hg-form-email"
                            data-php-path="php/email.php">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name *</label>
                                    <input name="name" type="text" class="form-control" />
                                </div><!--  /.col-md-6 -->

                                <div class="col-md-6">
                                    <label>Email *</label>
                                    <input name="email" type="email" class="form-control" />
                                </div><!--  /.col-md-6 -->

                                <div class="col-md-12">
                                    <label>Subject</label>
                                    <input name="subject" type="text" class="form-control" />
                                </div><!--  /.col-md-12 -->

                                <div class="col-md-12">
                                    <label>Your Message</label>
                                    <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
                                </div><!--  /.col-md-12 -->

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-default btn-contact">Send A Message</button>
                                </div><!--  /.col-md-12 -->
                            </div><!--  /.row -->
                        </form><!--  /.contact-form -->
                    </div><!--  /.col-md-8 -->
                </div><!--  /.row -->
            </div><!--  /.col-lg-10 -->
        </div><!--  /.row -->
    </div><!--  /.container -->

    <!-- Background Block -->
    <div class="hg-background hg-overlay dark" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="hg-background-image hg-parallax-element" data-bg-image="{% static 'images/contact-bg.png' %}' %}">
        </div><!--  /.hg-background-image -->
    </div><!--  /.hg-background -->
</section><!--  /.contact-block -->

{% endblock content %}