    {% load static %}
    <!-- All The JS Files
    ================================================== --> 
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery-validate.bootstrap-tooltip.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/simple-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/isInViewport.jquery.js' %}"></script>' %}
    <script src="{% static 'js/main.js' %}"></script><!-- main-js -->
    <script src="{% static 'js/highlight.pack.js' %}"></script>

    <script>hljs.initHighlightingOnLoad();</script>